**/.git
**/.gitignore
**/bin
**/obj
**/node_modules
**/.vs
**/*.user
**/TestResults
**/tools
src/YieldDataLogger.Agent
src/YieldDataLogger.Manager
src/YieldDataLogger.NT
Dockerfile
.dockerignore
*.md
.editorconfig
.gitattributes
infra/
